name: Example 3 - Sample Workflow 1

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1