name: Example 1 - Sample Workflow 1

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: print PR title
        env:
          PR_TITLE: ${{ github.event.pull_request.title}}
        run: |
          echo "The PR title is: $PR_TITLE"